:root {
  --mainColor: #5c6068;
  --mainColor20: #dbdcdf;
  --mainColor05: #f3f3f4;
  --secondColor: #f7f3e7;
  --goldColor: #f4bd4b;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: fontRegular;
  font-display: swap;
  src: url(../webfonts/Bahij_TheSansArabic-Plain.ttf);
}
@font-face {
  font-family: fontBold;
  font-display: swap;
  src: url(../webfonts/Bahij_TheSansArabic-Bold.ttf);
}
* {
  font-family: "fontRegular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

body {
  overflow-x: hidden;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.6;
  color: var(--mainColor);
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 4px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn i {
  font-size: 16px;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: ltr;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  min-height: 54px;
}
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

content {
  min-height: calc(100dvh - 313px);
  display: flex;
  flex-direction: column;
}

.preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  width: 200px;
  height: 200px;
  -webkit-mask-image: url("../img/logo.svg");
          mask-image: url("../img/logo.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: relative;
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 2;
  background-color: var(--mainColor);
  transform: translateY(100%);
  animation: slide-up 1.5s forwards;
}
.preloader .preloaderImg::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) opacity(0.5);
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.lazyDiv {
  position: relative;
  overflow: hidden;
}
.lazyDiv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--whiteColor);
  transition: transform 2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0%);
}
.lazyDiv.oppositeDir::after {
  right: unset;
  left: 0;
}
.lazyDiv .lazy {
  position: relative;
  z-index: 1;
  width: 100%;
}
.lazyDiv.loaded::after {
  transform: translateX(100%);
}
.lazyDiv.loaded.oppositeDir::after {
  transform: translateX(-100%);
}
.lazyDiv.loaded.down::after {
  transform: translateY(100%);
}
.lazyDiv.loaded.up::after {
  transform: translateY(-100%);
}

.container {
  width: min(100% - 4px, 1320px);
  max-width: unset;
  margin: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: var(--transition);
  height: 86px;
}
@media screen and (max-width: 992px) {
  header {
    background-color: var(--whiteColor);
  }
}
header .inner {
  width: min(100% - 8px, 1320px);
  margin: auto;
  display: flex;
  align-items: center;
  padding: 8px !important;
  gap: 4px;
  justify-content: space-between;
}
header .inner .navbar-brand {
  padding: 5px;
  flex: 1;
}
header .inner .navbar-brand img {
  height: 60px;
  min-width: 120px;
  max-width: 250px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: start;
     object-position: start;
}
header .inner .navbar {
  background-color: var(--mainColor05);
  border: 1px solid var(--mainColor20);
  border-radius: 100px;
  padding: 6px;
  text-align: center;
}
header .inner .navbar .navbar-nav {
  flex: 1;
}
header .inner .navbar .navbar-nav .navLink {
  flex: 1;
  white-space: nowrap;
  padding: 8px 16px;
  color: var(--darkColor);
  font-size: 14px;
}
header .inner .navbar .navbar-nav .navLink.active {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 100px;
}
@media screen and (max-width: 992px) {
  header .inner .navbar {
    order: 3;
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
  }
  header .inner .navbar .navbar-toggler {
    padding: 4px;
  }
  header .inner .navbar .navbar-nav {
    display: flex;
    position: fixed;
    right: 0;
    top: 86px;
    gap: 8px;
    background: #fff;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1019607843) -20px 0px 9px -4px;
    width: 300px;
    text-align: start;
    padding: 24px;
    transform: translateX(400px);
    transition: var(--transition);
    z-index: -1;
  }
  header .inner .navbar .navbar-nav.show {
    transform: translateX(0px);
  }
  header .inner .navbar .navbar-nav .navLink {
    flex: unset;
    color: var(--mainColor);
  }
  header .inner .navbar .navbar-nav .navLink.active {
    border-radius: 8px;
  }
}
header .inner .moreActions {
  padding: 5px;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  header .inner .moreActions {
    flex: unset;
  }
}
header .inner .moreActions a {
  color: var(--darkColor);
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 8px;
  justify-content: center;
}
header .inner .moreActions a img {
  width: 16px;
  height: 16px;
}
header.headerAnimate {
  background-color: var(--whiteColor);
  box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1019607843);
}

.hearo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/BG.svg);
  background-position: center;
  padding: 140px 0 80px;
  position: relative;
  text-align: center;
  min-height: 80dvh;
}
.hearo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3215686275), #fff 75%);
  z-index: 2;
}
.hearo .hearoImg {
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: min(100% - 8px, 800px);
  margin: auto;
  height: 400px;
  display: flex;
  justify-content: center;
  transform-origin: center center;
}
.hearo .hearoImg img {
  min-width: 800px;
  min-height: 800px;
  animation: rotateAnimation 40s linear infinite;
  transform-origin: center center;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hearo .text {
  position: relative;
  z-index: 3;
  padding: 48px 0;
  width: min(100% - 32px, 700px);
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  margin: -150px auto 0;
}
.hearo .text .title {
  font-weight: bold;
  color: var(--mainColor);
  font-family: fontBold;
  font-size: 50px;
}

.aboutPage {
  padding: 64px 0;
  background-color: var(--whiteColor);
  position: relative;
  z-index: 2;
  top: 0;
}
.aboutPage .title {
  font-weight: bold;
  color: var(--mainColor);
  font-family: fontBold;
}
.aboutPage .row:nth-child(2n) {
  flex-direction: row-reverse;
}
.aboutPage .info {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 16px;
}
@media (max-width: 768px) {
  .aboutPage .info {
    padding: 48px 16px;
  }
}
.aboutPage .info .des {
  color: var(--grayColor);
}
.aboutPage .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.aboutPage .info ul li {
  padding: 4px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.aboutPage .info ul li::before {
  content: "";
  background-image: url(../img/icons/check.svg);
  width: 16px;
  height: 16px;
  background-size: contain;
}
.aboutPage .lazyImg {
  position: relative;
  height: 100%;
}
.aboutPage .lazyImg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border: 10px solid var(--secondColor);
  width: 100%;
  height: 90%;
  transform: translateY(-50%);
}
.aboutPage .lazyImg .lazyDiv {
  height: 100%;
  margin: auto;
}
.aboutPage .lazyImg .lazyDiv .simpleParallax {
  height: 100%;
}
.aboutPage .lazyImg .lazyDiv img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
  -o-object-position: top;
     object-position: top;
}
.aboutPage .statistic {
  padding: 8px 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.aboutPage .statistic .counterUp {
  font-weight: bold;
  font-size: 100px;
  background: rgba(167, 169, 172, 0.062745098);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1px #a7a9ac;
  font-family: "Manrope Alt", Sans-serif;
}
@media (max-width: 768px) {
  .aboutPage .statistic .counterUp {
    font-size: 70px;
  }
}
.aboutPage .statistic h6 {
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  max-height: 100px;
  text-align: center;
  transform: scaleX(-1) scaleY(-1);
}

.socialMedia {
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  padding: 8px;
}
.socialMedia a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayColor);
  color: var(--grayColor);
  border-radius: 100px;
  transition: var(--transition);
}
.socialMedia a img {
  transition: var(--transition);
  filter: contrast(0.4);
}
.socialMedia a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-4px);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1882352941);
}
.socialMedia a:hover img {
  filter: contrast(1) brightness(0) invert(1);
}

.vision {
  position: relative;
  padding: 80px 0;
  background: url(../img/BG.svg);
  background-attachment: fixed;
  border: 1px solid var(--secondColor);
  background-size: 20px;
}
@media screen and (max-width: 768px) {
  .vision {
    padding: 40px 0;
  }
}
.vision .BG {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vision .BG::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(92, 96, 104, 0.9058823529);
}
.vision .BG img {
  width: 100%;
  height: 100%;
}
.vision .container {
  position: relative;
  z-index: 2;
}
.vision .container .group {
  background-color: var(--whiteColor);
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1254901961);
}
@media screen and (max-width: 768px) {
  .vision .container .group {
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1254901961);
  }
}
.vision .container .group h3 {
  font-weight: bold;
  font-family: fontBold;
  display: flex;
  align-items: center;
  gap: 8px;
}
.vision .container .group h3 img {
  height: 32px;
  aspect-ratio: 1/1;
}
.vision .container .values {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .vision .container .values {
    gap: 8px;
  }
}
.vision .container .values .value {
  padding: 24px;
  flex: 1;
  border: 1px dashed var(--mainColor20);
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 150px;
}
.vision .container .values .value h5 {
  font-weight: bold;
}

.scrollDown {
  width: 25px;
  height: 50px;
  border: 2px solid var(--mainColor20);
  border-radius: 100px;
  position: relative;
  margin: 50px auto 0;
  transition: var(--transition);
  display: flex;
}
@media (max-width: 768px) {
  .scrollDown {
    margin: 30px auto 0;
  }
}
.scrollDown .mouse {
  width: 12px;
  height: 12px;
  background: var(--mainColor);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: scrollDown linear 2s infinite;
  transition: var(--transition);
}

@keyframes scrollDown {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 16px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 32px);
    opacity: 0;
  }
}
.history {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  text-align: center;
  background-color: var(--secondColor);
}
.history .top {
  width: min(100% - 24px, 500px);
  margin: auto;
  margin-bottom: 40px;
}
.history .top .hint {
  color: var(--grayColor);
}
.history .top .hint span {
  display: inline-flex;
  font-weight: bold;
  color: var(--mainColor);
}
.history .title {
  font-weight: bold;
  color: var(--mainColor);
  font-family: fontBold;
}
.history .swiper {
  width: 100%;
}
.history .swiper .swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 12px;
  padding-top: 0;
}
.history .swiper .swiper-slide::before {
  content: "";
  width: 2px;
  height: 150px;
  display: block;
  border: 1px dashed #ebdeb9;
}
.history .swiper .swiper-slide::after {
  content: "";
  width: 100%;
  height: 2px;
  border: 1px dotted #ebdeb9;
  position: absolute;
  top: 0;
  left: 0;
}
.history .swiper .swiper-slide .time {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.history .swiper .swiper-slide .time .date {
  font-weight: bold;
  color: var(--mainColor);
  font-family: fontBold;
  font-size: 36px;
}
.history .swiper .swiper-slide .time p {
  margin: auto;
  background-color: #fffdf7;
  flex: 1;
  padding: 20px 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  margin: 4px 0;
}
.history .swiper .swiper-slide .time img {
  width: 100%;
  max-height: 200px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 4px;
  background-color: #fffdf7;
  border-radius: 12px;
}
.history .swiper .swiper-slide:nth-child(even)::before {
  height: 50px;
}
.history .swiperControl {
  justify-content: center;
}

.swiperControl {
  position: relative;
  bottom: unset;
  right: unset;
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.swiperControl .swiperBtns {
  display: flex;
  gap: 8px;
}
.swiperControl .swiperBtns .swiper-button-next,
.swiperControl .swiperBtns .swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  width: 40px;
  height: 40px;
  border: 1px solid var(--mainColor);
  border-radius: 100%;
  transition: var(--transition);
  opacity: 0.8;
}
.swiperControl .swiperBtns .swiper-button-next::after,
.swiperControl .swiperBtns .swiper-button-prev::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("../img/icons/left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition);
  filter: grayscale(1);
  transform: scaleX(-1);
}
@media (max-width: 768px) {
  .swiperControl .swiperBtns .swiper-button-next::after,
  .swiperControl .swiperBtns .swiper-button-prev::after {
    font-size: 24px;
  }
}
.swiperControl .swiperBtns .swiper-button-next:hover,
.swiperControl .swiperBtns .swiper-button-prev:hover {
  opacity: 1;
  background-color: var(--mainColor);
  color: var(--mainColor);
}
.swiperControl .swiperBtns .swiper-button-next:hover::after,
.swiperControl .swiperBtns .swiper-button-prev:hover::after {
  filter: brightness(0) invert(1);
}
.swiperControl .swiperBtns .swiper-button-next.swiper-button-disabled,
.swiperControl .swiperBtns .swiper-button-prev.swiper-button-disabled {
  opacity: 0.2;
}
.swiperControl .swiperBtns .swiper-button-next {
  left: unset;
}
.swiperControl .swiperBtns .swiper-button-next::after {
  transform: unset;
}
.swiperControl .swiper-pagination {
  position: relative;
  min-height: 16px;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--mainColor);
  transition: var(--transition);
  border-radius: 16px;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

footer {
  background-color: var(--secondColor);
  position: relative;
  z-index: 2;
  padding: 40px 0;
  color: var(--whiteColor);
}
footer .logo img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  max-height: 60px;
}
footer .title {
  font-weight: bold;
}
footer .part {
  display: flex;
  gap: 12px;
  align-items: center;
}
footer .part img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
  max-height: 40px;
  filter: brightness(0) invert(1);
}
footer .link {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .link path,
footer .link svg {
  fill: var(--mainColor);
}
footer .link .icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--mainColor);
}
footer .link .icon svg {
  width: 16px;
  height: 16px;
}
footer .link a,
footer .link p {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: var(--mainColor);
  transition: var(--transition);
}
footer .link a span,
footer .link p span {
  color: var(--mainColor);
}
footer .link:hover p {
  color: var(--goldColor);
}
footer .socialMedia a img {
  filter: brightness(0) invert(1) contrast(0.8);
}
footer .border-top {
  --bs-border-color: #eee5cb;
}

.team {
  position: relative;
  padding: 80px 0;
  background: url(../img/BG.svg);
  background-attachment: fixed;
  border: 1px solid var(--secondColor);
  background-size: 20px;
}
.team .SectionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.team .SectionTitle .title {
  font-weight: bold;
  color: var(--mainColor);
  font-family: fontBold;
}
.team .swiper {
  overflow: unset;
}
.team .swiper-wrapper {
  padding: 30px 0px 80px;
}
.team .swiper-wrapper .swiper-slide {
  width: auto !important;
}
.team .swiper-wrapper .swiper-slide:nth-child(even) {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .team .swiper-wrapper .swiper-slide:nth-child(even) {
    margin-top: unset;
  }
}
.team .flipCard {
  width: 100%;
  height: 450px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.team .flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.team .flipCard .cardFront .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  color: var(--whiteColor);
  gap: 4px;
}
.team .flipCard .cardFront .content .title {
  font-weight: bold;
  color: var(--whiteColor);
  font-family: fontBold;
}
.team .flipCard .cardFront .content .job {
  color: var(--whiteColor);
  font-size: 12px;
}
.team .flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
}
.team .flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.team .flipCard .cardBack .content img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 16px;
}
.team .flipCard .cardBack .content .title {
  font-weight: bold;
  color: var(--mainColor);
  margin-bottom: 4px;
}
.team .flipCard .cardBack .content .job {
  color: var(--grayColor);
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;
}
.team .flipCard .cardBack .content .des {
  color: var(--grayColor);
  font-size: 14px;
}
.team .flipCard:hover {
  z-index: 2;
}
.team .flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
.team .flipCard:hover .cardBack {
  transform: rotateY(0deg);
}
.team .quote {
  display: flex;
  max-width: 700px;
  margin: auto;
  text-align: center;
  justify-content: center;
  position: relative;
  gap: 8px;
}
.team .quote p span {
  font-weight: bold;
  color: var(--goldColor);
  font-family: fontBold;
  display: block;
  padding-top: 8px;
}
.team .quote::before {
  content: ",,";
  font-size: 120px;
  color: var(--goldColor);
  display: flex;
  flex-direction: column;
  line-height: 0px;
  transform: translateY(-30px);
}
.team .quote::after {
  content: ",,";
  font-size: 120px;
  color: var(--goldColor);
  display: flex;
  flex-direction: column;
  line-height: 0px;
  transform: scale(-1) translateY(-30px);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
  span,
  p,
  body {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */